body {
    background-color: black; /* Fundo preto */
    color: white; /* Texto branco */
    text-align: center;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: purple; /* Títulos roxos */
}

h1 {
    font-style: italic;
}

h2 {
    color: purple; /* Cor roxa para o título h2 */
}

h3 {
    color: purple; /* Cor roxa para o título h3 */
}

.imagem {
    width: 50%; /* Tamanho da imagem ajustado */
    margin-top: 20px;
}

