body {
    background-color: black; /* Fundo preto */
    color: white; /* Texto branco */
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: white; /* Cor branca para o h1 */
    font-style: italic;
}

h2, h3 {
    color: purple; /* Cor roxa para h2 e h3 */
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.imagem {
    width: 50%; /* Tamanho da imagem ajustado */
    margin-top: 20px;
}
